<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>

    <main>
        <div>
            <h1>{{Todolist.name}}</h1>
            <p> <a href = "{% url 'todo_list_update' todo_detail.id %}">Edit</a>
            <p> <a href = " {% url 'todo_list_delete' todo_detail.id %}">Delete</a>
            <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for tasks in todo_detail.items.all %}
                <tr>
                    <td>{{tasks.task}}</td>
                    <td>{{tasks.due_date}}</td>
                </tr>
                {%endfor%}
        </div>
</body>
</html>
